

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="../home">Invoice Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="../invoice">Invoice</a></li>
      <li><a routerLink="../item">Item</a></li>
      <li><a routerLink="../attachment">Attaachment</a></li>
      <li><a routerLink="../user">Users</a></li>
      <li><a routerLink="../login">Log Out</a></li>


    </ul>

  </div>
</nav>
  
<div class="container">
   <div class="tab">
      <h2> Users </h2>

  <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
          <th>Id</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Phone Number</th>
          <th>Roles</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{ user.name }}</td>
        <td>{{ user.userid }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.roles }}</td>
      </tr>
    </tbody>
  </table>

   <!--   <textarea id="lastTen" name="lastTen" rows="25" cols="80"  value="{{responseStr}}">
  
    
  </textarea>-->
</div>
<div>
 <input type="button" id="tabNext10" name="mytabs" (click)="next10()">
    <label for="tabNext10">NEXT</label>

       <input type="button" id="tabPrevious10" name="mytabs" (click)="prev10()">
    <label for="tabPrevious10">PREVIOUS</label>
      </div>
</div>

</body>
</html>



  
 
 